.dashboard-layout {

  > .columns {
    height: 100%;
    margin: 0;
    display: flex;

    .column {
      padding: 0;

      &:not(:last-of-type) {
        margin-right: 1em;
      }
    }

    .row-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      > * {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        &:not(:last-child) {
          margin-bottom: .3em;
        }
      }
    }
  }
}