
.life-support-assets {

  div.column.chart {
    padding: 1em .8em 0;
    font-size: .8em;
    max-width: 25%;

    .donut-chart {
      margin: .8em 0 1em;
      position: relative;

      svg {
        filter: drop-shadow(0 0 3px #00b0f0 );
      }

      > p.count {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

  }

}