.device {
  text-align: center;
  max-width: 17vw;
  min-width: 17vw;
  padding: 1em;
  margin-right: 2em;
  font-size: .8rem;
  cursor: pointer;

  .demo-row .row-item p {
    font-size: 1em;
  }

  &:hover {
    background: rgba(0,0,0,.3)
  }
  .device-id {
    padding: 1em 0;
  }

  img {
    width: auto;
    height: 180px;
  }

  .fa {
    margin-right: 8px;
  }
}
