
/* Colors */
$primary: #1890ff;
$modalBgColor: rgba(40, 40, 51, .9);

$blue: #346B8A;
$green: #1F997F;
$red: #7D3C82;
$yellow: #9A893A;
$purple: #8E8FC5;
$turquoise: #68BBCB;


// widget colors
$textColor: #899BAA;
$borderColor: #2B3E44;
$bgColor: #202A38;
$cardColor: #363747;

/* Fonts */
$default-font-color: #333;
$default-font-size: 14px;